.register {
  height: 100vh;
  widows: 100vw;
  background-image: url("../images/tempBg.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  .registerModal {
    height: 75%;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.75);
  }
}
