.register {
  height: 100vh;
  widows: 100vw;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  .registerModal {
    position: relative;
    padding: 20px;
    height: 75%;
    width: 75%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    box-shadow: 0 4px 25px rgba(14, 14, 14, 0.3);
    img {
      width: 50%;
      height: 100%;
      padding-right: 20px;
      object-fit: cover;
      border-radius: 30px;
      max-width: 100%;
      max-height: 100%;
    }
    .register-area {
      padding-top: 20px;
      padding-bottom: 20px;
      margin: auto;
      display: flex;
      align-items: center;
      --formelement-height: 80%;
      --keyColor: #253772;
      text-align: center;
      color: #253772;

      .logo-placeholder {
        padding: 1rem;
      }
      form {
        width: 100%;
        height: 100%;
      }
      .searchInput {
        color: #333;
        position: relative;
        overflow: hidden;
        height: var(--formelement-height);
      }
      .searchInput input {
        width: 100%;
        height: 100%;
        color: #333;
        padding-top: 30px;
        border: none;
        outline: none;
        border: none;
        background-color: transparent;
      }
      .searchInput label {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        pointer-events: none;
        border-bottom: #333 1px solid;
      }
      .searchInput label::after {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0px;
        width: 100%;
        height: 100%;
        border-bottom: 3px solid var(--keyColor);
        transform: translateX(-100%);
        transition: all 0.3s ease;
      }
      .content-name {
        position: absolute;
        bottom: 0px;
        left: 0px;
        padding-bottom: 5px;
        transition: all 0.3s ease;
      }
      .searchInput input:focus {
        outline: none;
      }
      .searchInput input:focus + .label-name .content-name,
      .searchInput input:valid + .label-name .content-name {
        transform: translateY(-120%);
        font-size: 0.75rem;
        left: 0px;
        color: var(--keyColor);
      }
      .searchInput input:focus + .label-name::after,
      .searchInput input:valid + .label-name::after {
        transform: translateX(0%);
      }
      .links {
        color: #333;
        padding: 1rem 0;
        cursor: pointer;
      }
      .button {
        background-color: #253772;
        color: #fff;
        padding: 0.75rem 4rem;
        border-radius: 2rem;
        width: auto;
        margin: 1rem;
        cursor: pointer;
      }
      .borderTop {
        border-top: #333 solid 1px;
        padding: 1rem;
      }
      .marginTop {
        margin-top: calc(var(--formelement-height) / 4);
      }
    }
  }
}
// Media Queries
@media screen and(max-width: 1200px) {
  .register {
    .registerModal {
      background-color: #fff;
      padding: 0;
      img {
        position: absolute;
        width: 100%;
        margin: 0rem;
      }
      .register-area {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.75);
        width: 70%;
      }
    }
  }
}
@media screen and(max-width: 500px) {
  .register {
    .registerModal {
      .register-area {
        width: 100%;
      }
    }
  }
}
