* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
button,
input,
textarea {
  border: none;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: inherit;
}

// Media Queries (to be added later)

// Import Partials
@import "./register";
